
[submodule "omi"]
	path = omi
	url = https://github.com/jhead12/omi.git
	branch = main

[submodule "sonobus"]
	path = sonobus
	url = https://github.com/jhead12/sonobus.git

[submodule "ffmpeg"]
	path = ffmpeg
	url =https://git.ffmpeg.org/ffmpeg.git

